.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 4px;
}

.input {
  font-weight: 400;
  font-size: 12px;
  font-family: inherit;
  height: 44px;
  padding: 9px 11px;
  border: 1px solid #cccccc;
  border-radius: 5px;

  &:focus {
    outline: none;
    border: 1px solid #2684ff;
    box-shadow: 0 0 0 1px #2684ff;
  }

  &:read-only:focus {
    outline: none;
    border: 1px solid #cccccc;
    box-shadow: none;
  }
}

.inputCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  cursor: pointer;

  &:checked::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #cccccc;
    border-radius: 2px;
  }
}

.label {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-input-label);
}

.error {
  height: 15px;
  color: red;
}

.readOnly {
  background-color: #f8f8f8;
  color: #cccccc;
}
