.title {
  padding-bottom: 20px;

  font-family: Manrope, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}

.container {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
}
